<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                <img src="img/AOSSIE_logo_08_cropped_tiny.webp" class="img-responsive img-centered" alt=""></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#projects">Projects</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#ideas">Ideas</a>
                    </li>
                    <!-- <li>
                        <a class="page-scroll" href="#tasks">GCI Tasks</a>
                    </li> -->
                    <li>
                        <a class="page-scroll" href="#apply">How to Apply</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#supporters">Supporters</a>
                    </li>
              <!--      <li>
                        <a class="page-scroll" href="#mentors">Mentors</a>
                    </li> -->
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">

            <div class="intro-text">

            <img src="img/AOSSIE_logo_11_cropped_15cm.webp" class="img-responsive img-centered" alt=""></a>

                <div class="intro-lead-in"></div>
                <div class="intro-heading"></div>
                <a href="#projects" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

