<!-- Services Section -->
    <section id="projects">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Projects</h2>
                    <h3 class="section-subheading text-muted">These are the awesome projects that are part of AOSSIE in 2019.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                    	<!--
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                        -->
                        <a href="https://gitlab.com/aossie/Agora">
                        <img src="img/project-logos/agora.webp" class="img-responsive img-centered" alt="">
                        </a>
                    </span>
                    <h4 class="service-heading">Agora</h4>
                    <p class="text-muted">library of vote counting algorithms for democratic elections.<br>
                    (Scala, Play)</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                    	<a href="https://gitlab.com/aossie/CarbonFootprint">
                        <img src="img/project-logos/footprint.webp" class="img-responsive img-centered" alt="">
                        </a>
                    </span>
                    <h4 class="service-heading">Carbon Footprint</h4>
                    <p class="text-muted">browser extensions, mobile apps and voice assistant apps to raise environmental awareness. <br> 
                    (Javascript, HTML, CSS, Angular, Android, Node.js, Actions on Google, Alexa Skills.)  The API is live at , https://carbonhub.org/.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                    	<a href="https://gitlab.com/aossie/ComputationalPhilosophy">
                        <img src="img/project-logos/philosophy-small.webp" class="img-responsive img-centered" alt="">
                        </a>
                    </span>
                    <h4 class="service-heading">Computational Philosophy</h4>
                    <p class="text-muted">formalizations of philosophical theories and arguments towards computer-assisted metaphysics, as envisaged by Leibniz. <br>
                    (Isabelle, TPTP THF)</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                    	<a href="https://gitlab.com/aossie/MindTheWord">
                        <img src="img/project-logos/mtw.webp" class="img-responsive img-centered" alt="">
                        </a>
                    </span>
                    <h4 class="service-heading">Mind the Word</h4>
                    <p class="text-muted">browser extensions and apps to learn new languages.<br>
                    (Javascript, HTML, CSS, Angular)</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                    	<a href="https://gitlab.com/aossie/Scavenger">
                        <img src="img/project-logos/scavenger.webp" class="img-responsive img-centered" alt="">
                        </a>
                    </span>
                    <h4 class="service-heading">Scavenger</h4>
                    <p class="text-muted">automated theorem prover for predicate logic based on a first-order generalization of conflict-driven clause learning.<br>
                    (Scala, Akka)</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                          <a href="https://github.com/sky-map-team/stardroid">
                            <img src="img/project-logos/skymap-logo-large.webp" class="img-responsive img-centered" alt="">
                        </a>
                    </span>
                    <h4 class="service-heading">Stardroid</h4>
                    <p class="text-muted">The famous Google Sky Maps!<br>
                        (Android, JAVA, Kotlin, React-Native)</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                          <a href="https://gitlab.com/aossie/CrowdAlert-Mobile">
                            <img src="img/project-logos/crowd_alert_temp.webp" class="img-responsive img-centered" alt="">
                        </a>
                    </span>
                    <h4 class="service-heading">CrowdAlert</h4>
                    <p class="text-muted">A cross platform mobile application that allows users to post and view incidents around them<br>
                        (React-Native, Expo, Jest)</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                          <a href="https://gitlab.com/aossie/social-street-smart">
                            <img src="img/project-logos/SSS.webp" class="img-responsive img-centered" alt="">
                        </a>
                    </span>
                    <h4 class="service-heading">Social Street Smart</h4>
                    <p class="text-muted">Shaping tomorrow's Internet with Artificial Intelligence<br>
                        (Artificial Intelligence, Python, Javascript, HTML, CSS)</p>
                </div>
            </div>
        </div>
    </section>
