<!-- Supporters Section -->
    <section id="supporters" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Supporters</h2>
                    <h3 class="section-subheading text-muted">We gratefully enjoy free licenses to use the following tools and APIs in our open-source projects.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <a width="150" height="50" href="https://auth0.com/?utm_source=oss&utm_medium=gp&utm_campaign=oss" target="_blank" alt="Single Sign On & Token Based Authentication - Auth0"><img width="150" height="50" alt="JWT Auth for open source projects" src="//cdn.auth0.com/oss/badges/a0-badge-dark.webp"/></a>
                    </span>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <a width="150" height="50" href="https://auth0.com/?utm_source=oss&utm_medium=gp&utm_campaign=oss" target="_blank" alt="Single Sign On & Token Based Authentication - Auth0"><img width="150" height="50" alt="JWT Auth for open source projects" src="img/supporters/yourkit.webp"/></a>
                    </span>
                </div>
            </div>
        </div>
    </section>